<mat-card>
    <mat-card-title>Favoritos</mat-card-title>
    <mat-card-content>
      <div *ngIf="(favoritesService.favorites$ | async)?.length === 0">
        <p>No tienes personajes favoritos.</p>
      </div>
  
      <mat-list>
        <mat-list-item *ngFor="let character of favoritesService.favorites$ | async">
          <img mat-list-avatar [src]="character.image" alt="{{ character.name }}">
          <h3 mat-line>{{ character.name }}</h3>
          <p mat-line>{{ character.status }} - {{ character.species }}</p>
          <button mat-icon-button color="warn" (click)="removeFavorite(character.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  