<div class="character-container">
<mat-card *ngIf="character">
    
    <img mat-card-image [src]="character.image" alt="{{ character.name }}">
  
    <mat-card-content>
  
      <div *ngIf="originInfo">
        <h3><strong>Origen:</strong>{{ originInfo.name }}</h3>
        <p *ngIf="originInfo.residents.length > 0">
            <strong>Residente:</strong> {{ originInfo.residents[0] }}
        </p>
        <p *ngIf="originInfo.residents.length === 0">No tiene residentes</p>
      </div>
  
      <div *ngIf="locationInfo">
        <h3><strong>Ubicación:</strong> {{ locationInfo.name }}</h3>
        <p *ngIf="locationInfo.residents.length > 0">
            <strong>Residente:</strong> {{ locationInfo.residents[0] }}
        </p>
        <p *ngIf="locationInfo.residents.length === 0">No tiene residentes</p>
      </div>
  
      <div *ngIf="episodeInfo">
        <h3><strong>Episodio:</strong>  {{ episodeInfo.name }}</h3>
      </div>
    </mat-card-content>
  </mat-card>

</div>
